<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDKBjVt2pE4Dda__k1LfiJw4tgvxltn4ng</string>
	<key>GCM_SENDER_ID</key>
	<string>261453992076</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommere</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-c6602</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-c6602.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:261453992076:ios:f2a5f0ab25928f7c8c2ba9</string>
</dict>
</plist>